* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Відступи для header та main */
main,
header {
    margin: 5vh 10vw;
}

/* Header: розташування елементів по краях */
header {
    display: flex;
    justify-content: space-between;
}

/* Сітка товарів */
#products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки */
    gap: 1rem;
}

/* Карточка товару */
.product {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 1rem;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Фото товару */
.product-photo {
    max-width: 100px;
    box-shadow: 0 0 5px #000;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    background-color: #ffffff;
}

/* Посилання в карточці товару */
.product a {
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    color: #ffffff;
    margin: 5px 0;
}

/* Загальні стилі кнопок */
button {
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 10px;
    border: none;
    min-width: 50%;
}

/* ----- Cart ----- */

/* Кнопка кошика */
#cart-button {
    background: none;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

/* Контейнер кошика */
#cart {
    position: relative;
}

/* Іконка кошика */
#cart-button img {
    max-width: 32px;
    max-height: 32px;
}

/* Ефект наведення на кнопку кошика */
#cart-button:hover {
    background-color: rgb(170, 170, 255);
}